h1{
    border: 8px solid black;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    font-weight: 600;
    background-color: blueviolet;
}

ul,
ol{
    list-style: none;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 500;
    background-color: antiquewhite;
}

body{
    background-image: url("https://previews.123rf.com/images/andryuha1981/andryuha19811401/andryuha1981140100011/24965688-chief-cook.jpg");

}
p{
    text-align: left;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    font-weight: 400;
    background-color: green;
}

.serving{
    text-align: center;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: 400;
    background-color: red;
}

h2{
    font-size: 39px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: blueviolet;
}

#main-header{
    font-size: 65px;
    font-weight: 650;
    font-style: italic;
    border: 10px solid black;
    padding: 5px;
    margin:0 auto;
    text-align: center;
}

.center{
    display: flex;
    margin: 0 auto;
    width:50%;
    padding: 10px;
}

.main-list{
    
    height: 600px;
    width: 700px;
    
    background-color: #262A8D;
    border: 6px solid black;
    margin: 40px;
    text-align: center;
    
    
}


.main-list a{
    width: 200px;
    background-color: yellow;
    margin: 20px;
    padding: 30px;
    border: 10px solid red;
    display: inline-block;
    box-sizing: border-box;
    
}

.main-list a:hover{
    background-color:#DFDF41 ;
    border: 11px solid #AC2020;
    padding: 35px;
   
    
}



